<md-card *ngIf="character">
  <md-card-title>
    <app-character-sheet-header [character]="character"></app-character-sheet-header>
  </md-card-title>
  <md-card-content>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          Mechanics
        </template>
        <br>
                <app-character-sheet-mechanics [character]="character"></app-character-sheet-mechanics>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          Fiction
        </template>
        <br>
        <app-character-sheet-fiction [character]="character"></app-character-sheet-fiction>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>