<div>
   Name: {{ (character | async)?.name }}
  </div>
 
<mat-card >
  <mat-card-title>
    <app-character-sheet-header [character]="(character | async)"></app-character-sheet-header>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
       <mat-tab label="Mechanics">
                <app-character-sheet-mechanics [character]="(character | async)"></app-character-sheet-mechanics>
      </mat-tab>
       <mat-tab label="Fiction">
        <app-character-sheet-fiction [character]="(character | async)"></app-character-sheet-fiction>
      </mat-tab> 
    </mat-tab-group>
  </mat-card-content>

</mat-card>