<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="#"> {{applicationName}} </a>
    <a mat-button routerLink="games"> Games </a>
    <a mat-button routerLink="characters"> Characters </a>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="box" >

  </div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
    <h3>Hello, GUEST</h3>
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
  </ng-template>
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <!-- <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
      <p class="text-truncate">UID: {{ user.uid }}</p> -->
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </ng-template>