<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">TT Games</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerlink="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="games">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="character">Characters</a>
        </li>
      </ul>
 




    </div>
</nav> -->

<mat-toolbar>  
  <mat-toolbar-row>
      <a mat-button routerLink="#"> {{applicationName}} </a>
      <a mat-button routerLink="games"> Games </a>
      <a mat-button routerLink="characters"> Characters </a>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <span>Hello {{ user.displayName }}!</span>
      <button mat-raised-button color="warn" (click)="logout()">LOGOUT</button>
    </div>
    <ng-template #showLogin>
      <button  mat-raised-button color="primary" (click)="login()">LOGIN</button>
    </ng-template>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item> Settings </button>
        <button mat-menu-item> Help </button>
        
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>





<mat-sidenav-container>
  <mat-sidenav mode="side" opened="false">
    <mat-nav-list>
      <a mat-list-item routerlink="" *ngFor="let link of links"> {{ link }} </a>
    </mat-nav-list>

    <mat-nav-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-avatar>folder</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line class="demo-2"> {{folder.updated}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-avatar>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line class="demo-2"> {{note.updated}} </p>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <div class="container my-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>