<!-- 

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerlink="" *ngFor="let link of links"> {{ link }} </a>
    </mat-nav-list>

    <mat-nav-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-avatar>folder</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line class="demo-2"> {{folder.updated}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-avatar>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line class="demo-2"> {{note.updated}} </p>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <div class="container my-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container> -->

<div id="wrapper">
  <app-toolbar></app-toolbar>

  <div class="content columns">
    <aside class="column is-1 is-offset-1">
      Side Menu
    </aside>

    <main class="column is-10">
      <notification-message></notification-message>

      <router-outlet></router-outlet>
    </main>
  </div>

</div>