<div class="row" *ngIf="character">
  <div class="col-1">
    <img src="{{character.image_url}}" class="rounded-circle char_thumb">
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-8">
        <h1>{{character.name}}</h1> <small>{{character.playbook}}</small>
        <p>{{character.concept}}</p>
      </div>
      <div class="col-3">
        <mat-chip-list>
          <mat-chip color="accent">{{character.game_system}}</mat-chip>
          <mat-chip color="primary">{{character.campaign}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col-1">
        <button mat-fab color="primary"> <mat-icon>mode_edit</mat-icon> </button>
      </div>
    </div>

  </div>

</div>