<div class="row">
  <div class="col-1">
    <img src="{{character.image_url}}" class="rounded-circle char_thumb">
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-8">
        <h1>{{character.name}}</h1> <small>{{character.playbook}}</small>
        <p>{{character.concept}}</p>
      </div>
      <div class="col-3">
        <md-chip-list>
          <md-chip color="accent">{{character.game_system}}</md-chip>
          <md-chip color="primary">{{character.campaign}}</md-chip>
        </md-chip-list>
      </div>
      <div class="col-1">
        <button md-fab color="primary"> <md-icon>mode_edit</md-icon> </button>
      </div>
    </div>

  </div>

</div>