  <!--[ngClass]="{'my-class': isClassVisible }"-->
<div class="d-flex flex-row">

      <mat-checkbox [(ngModel)]="stat.highlighted" (change)="highlight()" class="p-1"></mat-checkbox>
  
      <span class="p-2">{{stat.name}}</span>
  
  
    <span class="p-2">{{stat.value}}</span>
      <div class="btn-group btn-group-sm p-2" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="lowerStat()"><mat-icon>remove</mat-icon></button>
      <button type="button" class="btn btn-secondary" (click)="increaseStat()"><mat-icon>add</mat-icon></button>
    </div>
  
</div>